.ac .wrapper .content {
    height: calc(100vh - 125px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ac .nav .nav-head .nav-head-expander {
    cursor: not-allowed;
}

/* [table] head */
.ac-table-head .column:nth-child(1) {
    flex: 1;
}

.ac-table-head .column:nth-child(2) {
    flex: 2;
}

.ac-table-head .column:nth-child(3) {
    flex: 2;
}

.ac-table-head .column:nth-child(4) {
    flex: 1;
}

/* [table] body */
.ac-table-body .ac-table-row .ac-table-column:nth-child(1) {
    flex: 1;
}

.ac-table-body .ac-table-row .ac-table-column:nth-child(2) {
    flex: 2;
}

.ac-table-body .ac-table-row .ac-table-column:nth-child(3) {
    flex: 2;
}

.ac-table-body .ac-table-row .ac-table-column:nth-child(4) {
    flex: 1;
}