.ac .wrapper .content {
    height: calc(100vh - 205px);
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.ac .nav .nav-head .nav-head-expander {
    cursor: not-allowed;
}

.ac .wrapper .content .info {
    display: flex;
    flex-direction: row;
}

.ac .wrapper .content .info .package {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #e2e2e2; */
    border-radius: 10px;
}

.ac .wrapper .content .info .upload {
    display: flex;
    align-items: flex-end;
}

.ac .wrapper .content .info .upload .option-regist-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 140px;
    height: 45px;
    border-radius: 22px;
    background-color: #8fd5b5;
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.ac .wrapper .content .info .package .thumbnail {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #d5d5d5;
    margin-right: 10px;
}

.ac .wrapper .content .info .package .package-data {
    flex: 1;
}

.ac .wrapper .content .info .package .creator {
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #878787;
}

.ac .wrapper .content .info .package .name {
    font-family: NotoSansCJKkr;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4d4d4d;
}

.ac .wrapper .content .data {
    flex: 1;
    margin-top: 45px;
}

.ac .wrapper .content .data .option-list {
    width: calc(100% - 105px);
    height: calc(100% - 105px);
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: #ffffff;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 75px 30px 30px 75px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ac .wrapper .content .data .option-list .cropper {
    width: 250px;
    height: 250px;
    border: 1px solid #ebebeb;
    background-color: #f4f4f4;
    margin-right: 45px !important;
    margin-bottom: 45px !important;
}

.ac .wrapper .content .data .option-list .cropper .hover-div {
    width: calc(100% - 24px);
    height: calc(50px - 18px);
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(77, 77, 77, 0.65);
    display: none;
    padding: 9px 12px;
    z-index: 1;
}

.ac .wrapper .content .data .option-list .cropper .hover-option-name {
    width: 100%;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f8f8f8;
    display: flex;
    align-items: center;
}

.ac .wrapper .content .data .option-list .cropper .hover-option-package-creator {
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #d5d5d5;
}

.ac .wrapper .content .data .option-list .cropper:hover .hover-div {
    display: block;
}