.ac .wrapper .content {
    height: calc(100vh - 205px);
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.ac .nav .nav-head .nav-head-expander {
    cursor: not-allowed;
}

.ac .wrapper .content .info {
    display: flex;
    flex-direction: row;
}

.ac .wrapper .content .info .product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #e2e2e2; */
    border-radius: 10px;
}

.ac .wrapper .content .info .update {
    flex: 1;
    display: flex;
    align-items: center;
}

.ac .wrapper .content .info .update .price-update-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    /* border-radius: 50%;
    border: solid 0.8px #8fd5b5;
    background-color: #8fd5b5; */
    margin-left: 15px;
    margin-bottom: 25px;
    background-image: url('../../img/icon-edit.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ac .wrapper .content .info .product .thumbnail {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #d5d5d5;
    margin-right: 10px;
    overflow: hidden;
}

.ac .wrapper .content .info .product .thumbnail img {
    width: 75px;
    height: 75px;
}

.ac .wrapper .content .info .product .product-data {
    margin-right: 30px;
}

.ac .wrapper .content .info .product .price {
    padding-left: 30px;
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #878787;
    border-left: solid 2px #d8d8d8;
    text-align: right;
}

.ac .wrapper .content .info .product .name {
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4d4d4d;
}

.ac .wrapper .content .info .product .creator {
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #878787;
}

.ac .wrapper .content .data {
    flex: 1;
    margin-top: 45px;
}

.ac .wrapper .content .data .option-list {
    width: calc(100% - 105px);
    height: calc(100% - 105px);
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 75px 30px 30px 75px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ac .wrapper .content .data .option-list .option-item {
    width: 250px;
    height: 250px;
    border: 1px solid #ebebeb;
    background-color: #f4f4f4;
    margin-right: 45px;
    margin-bottom: 45px;
}

.ac .wrapper .content .data .option-list .option-item .hover-div {
    width: calc(100% - 24px);
    height: calc(50px - 18px);
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(77, 77, 77, 0.65);
    display: none;
    padding: 9px 12px;
    z-index: 1;
}

.ac .wrapper .content .data .option-list .option-item .hover-option-name {
    width: 100%;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f8f8f8;
    display: flex;
    align-items: center;
}

.ac .wrapper .content .data .option-list .option-item .hover-option-package-creator {
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #d5d5d5;
}

.ac .wrapper .content .data .option-list .option-item:hover .hover-div {
    display: block;
}