
.ac .nav {
    flex: 0 0 calc(350px - 100px);
    width: calc(350px - 100px);
}

.ac .wrapper .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ac .content .editor{
    margin: 75px 50px;
    width: calc(100% - 100px) !important;
    max-height: initial !important;
    padding: 0px !important;
}

.ac .nav .nav-body .nav-body-content {
    display: flex;
    flex-direction: column;
}

.ac .nav .nav-body .nav-body-content .ac-assets {
    margin-top: 10px;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

.ac .nav .nav-body .nav-body-content .ac-assets .ac-assets-wrapper {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.ac .nav .nav-body .nav-body-content .ac-assets .ac-assets-wrapper .asset-item {
    flex: 0 0 calc(50% - 10px);
    width: calc(50% - 10px);
    height: 115px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #e2e2e2 inset;
    cursor: pointer;
}

.ac .nav .nav-body .nav-body-content .ac-assets .ac-assets-wrapper .asset-item.active {
    border-radius: 5px;
    box-shadow: 0 0 0 2px #54b689 inset;
}

.ac .nav .nav-body .nav-body-content .ac-upload-button {
    width: 183px;
    border-radius: 27.5px;
    background-color: #8fd5b5;
    margin: 20px auto 0 auto;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #f8f8f8;
}