body {
    margin: 0px;
}

* {
    outline: none;
}

/* 스크롤바 */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-thumb {
    border: 2px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    /* border-radius: 5.5px; */
    /* background-color: rgba(142, 142, 142, 0.9); */
    border-radius: 3px;
    background-color: #d0e9da;
}
::-webkit-scrollbar-button {
    display: none;
}

.ac .wrapper {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: rgb(244, 244, 244);
}

.ac .wrapper .head {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: calc(100% - 330px);
    height: calc(90px - 0px);
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    z-index: 1;
    padding: 0px 50px 0px 280px;
    font-family: NotoSansCJKkr;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4d4d4d;
    display: flex;
    align-items: center;
}

.ac .wrapper .menu {
    width: 230px;
    border-top-right-radius: 37px;
    border-bottom-right-radius: 37px;
    background: linear-gradient(360deg, #69c69d, #98d9bb);
    z-index: 2;
}

.ac .wrapper .menu .logo {
    width: 230px;
    height: calc(90px - 30px);
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
}

.ac .wrapper .menu .logo img {
    width: 120px;
    height: auto;
    cursor: pointer;
}

.ac .wrapper .menu .platform {
    width: 230px;
    height: 75px;
    background: #77cba8;
    color: #ffffff;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ac .wrapper .menu .platform img {
    width: 80px;
    height: auto;
}

.ac .wrapper .menu .menu-item {
    width: calc(230px - 15px);
    height: 65px;
    margin-left: 15px;
    border-top-left-radius: 65px;
    border-bottom-left-radius: 65px;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    cursor: pointer;
}

.ac .wrapper .menu .menu-item.active {
    background: #f4f4f4;
    color: #54b689;
}

.ac .wrapper .menu .menu-item .menu-item-icon {
    flex: 0 0 60px;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8px;
}

.ac .wrapper .menu .menu-item .menu-item-icon img {
    width: 18px;
    height: auto;
}

.ac .wrapper .menu .menu-item .menu-item-icon .material-icons {
    font-size: 19px;
}

.ac .wrapper .menu .menu-item .menu-item-text {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.ac .content {
    flex: 1;
    height: calc(100vh - 90px);
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 90px;
    position: relative;
}

.ac .content .editor{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ac .nav {
    flex: 0 0 calc(415px - 100px);
    width: calc(415px - 100px);
    height: calc(100vh - 190px);
    overflow-y: auto;
    overflow-x: hidden;
    background: #ffffff;
    margin-top: 90px;
    padding: 50px;
}

.ac .nav.reduction {
    flex: 0 0 50px;
}

.ac .nav .nav-head {
    width: 100%;
    height: 50px;
    border-bottom: solid 1px #e2e2e2;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
}

.ac .nav .nav-head .nav-head-expander {
    flex: 0 0 50px;
    height: 100%;
    border-right: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ac .nav .nav-head .nav-head-logo {
    flex: 1;
    height: 100%;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ac .nav .nav-body {
    width: 100%;
    min-height: calc(100vh - 205px);
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
}

.ac .nav .nav-body .nav-body-menu {
    flex: 0 0 50px;
    min-height: calc(100vh - 205px);
    border-right: 1px solid #e2e2e2;
}

.ac .nav .nav-body .nav-body-menu .menu-item {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
    font-size: 10px;
    cursor: pointer;
}

.ac .nav .nav-body .nav-body-menu .menu-item.active {
    color: #4286f4;
}

.ac .nav .nav-body .nav-body-content {
    flex: 1;
    min-height: calc(100vh - 205px);
}

/* 미디어 쿼리 데스크톱 */
/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { 
    .ac .wrapper .menu .platform {
        margin-bottom: 15px;
    }
} */

/* Extra large devices (large desktops, 1200px and up) */
/* 높이 */
@media (max-height: 700px) {
    /* .ac .wrapper .menu .platform {
        margin-bottom: 15px;
    } */
}

/* 넓비 */
@media (min-width: 992px) {

}

@media (min-width: 1281px) { 

}