.ac .nav .nav-body .nav-body-content .ac-info {
    margin-top: 30px;
    border-radius: 5px;
    background-color: #f4f4f4;
    font-family: NotoSansCJKkr;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.ac .nav .nav-body .nav-body-content .ac-info-button-wrapper {
    display: flex;
    margin-top: 30px;
}

.ac .nav .nav-body .nav-body-content .ac-info-button {
    flex: 0 1 150px;
    border-radius: 27.5px;
    background-color: #8fd5b5;
    margin: 0 auto;
    padding: 13px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    font-family: NotoSansCJKkr;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #f8f8f8;
}

.ac .nav .nav-body .nav-body-content .ac-info-button:nth-child(1) {
    margin-right: 10px;
}

.ac .nav .nav-body .nav-body-content .ac-info .ac-info-item {
    box-shadow: inset 0 -1px 0 0 #ebebeb;
    padding: 15px 15px;
    display: flex;
    flex-direction: row;
    color: #54b689;
}

.ac .nav .nav-body .nav-body-content .ac-info .ac-info-item .value {
    flex: 1;
    text-align: right;
    text-transform: uppercase;
    color: #878787;
    font-weight: 400;
}

.ac .nav .nav-body .nav-body-content .ac-info .ac-info-item:last-child {
    box-shadow: none;
}