.ac-selector {
    position: relative;
    font-family: Arial;
    border: 1px solid #e2e2e2;
}

.ac-selector select {
    display: none;
}

.select-selected {
    /* background-color: rgb(172, 172, 172); */
    background-color: transparent;
    text-align: right !important;
    margin-right: 10px;
}

/* 블릿: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 15px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #1c1c1c transparent transparent transparent;
    transition: all ease 0.5s;
}

/* 블릿(활성화): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #1c1c1c transparent;
    /* transform: rotate( 180deg ); */
    top: 7px;
}

/* 옵션 아이템: */
.select-items div,.select-selected {
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: right;
    color: #6c6c6c;
    padding: 8px 24px;
    cursor: pointer;
    text-align: left;
}

/* 옵션 아이템 랩퍼: */
.select-items {
    position: absolute;
    background-color: #ffffff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    max-height: 215px;
    overflow: auto;
    border: 1px solid #e1e1e1;
}

/* 닫기: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}