.ac-table {
    width: fit-content;
    border: 1px solid #e2e2e2;
}

.ac-table .ac-table-row {
    height: 80px;
    border-bottom: 1px solid #e2e2e2;
    display: flex;
}

.ac-table .ac-table-row:last-child {
    border-bottom: none;
}

.ac-table .ac-table-row .ac-table-column {
    height: 100%;
    border-right: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ac-table .ac-table-row .ac-table-column:last-child {
    border-right: 0px;
}

.ac-table .ac-table-row .ac-table-column .ac-table-btn-detail,
.ac-table .ac-table-row .ac-table-column .ac-table-btn-editor {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #e2e2e2;
}

.ac-table-paging {
    display: flex;
    flex-direction: row;
}

.ac-table-paging .btn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ac-table-paging .btn.disabled {
    opacity: 0.5;
}

.ac-table-paging .btn-num.active{
    color: #4286f4;
    font-weight: bold;
}

.ac-table-head {
    display: flex;
}

.ac-table-head .column {
    border: 1px solid #e2e2e2;
    background-color: #fafafa;
    border-bottom: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-weight: bold;
}

.ac-table-head .column:last-child {
    border-right: 1px solid #e2e2e2;
}