body {
    margin: 0px;
}

.cropper {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 600px;
}

.cropper #loader {
    position: absolute;
    z-index: 2;
}

/* 캔버스 비율 유지시 height auto 필요(정사각형 비율로 증가) */
.cropper #canvas, #canvas-worker, #canvas-design {
    /* width: calc(100% - 2px); */
    /* height: auto; */
    width: calc(600px - 2px);
    height: 600px;
    border: 1px solid #e1e1e1;
    /* background-color: #e2e2e2; */
}

.cropper #canvas-worker {
    position: absolute;
    z-index: 1;
}

.cropper #canvas-design {
    position: absolute;
    z-index: -1;
    opacity: 0.2;
}

.cropper #edit-div.active {
    border: 1px solid #4286f4;
    cursor: grab;
}

/* 리사이저 */
.cropper #edit-div.active #edit-resizer.resizer {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    border: 3px solid #4286f4;
    position: absolute;
}

.cropper #edit-div.active #edit-resizer.resizer.top-left {
    left: -5px;
    top: -5px;
    cursor: nw-resize;
}

.cropper #edit-div.active #edit-resizer.resizer.top-right {
    right: -5px;
    top: -5px;
    cursor: ne-resize;
}

.cropper #edit-div.active #edit-resizer.resizer.bottom-left {
    left: -5px;
    bottom: -5px;
    cursor: sw-resize;
}

.cropper #edit-div.active #edit-resizer.resizer.bottom-right {
    right: -5px;
    bottom: -5px;
    cursor: se-resize;
}