.cropper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.cropper #loader {
    position: absolute;
    z-index: 2;
}

/* 캔버스 비율 유지시 height auto 필요(정사각형 비율로 증가) */
.cropper #canvas, #canvas-worker {
    width: 100%;
    height: auto;
    border: 1px solid #e1e1e1;
}

.cropper #canvas-worker {
    position: absolute;
    z-index: 1;
}