.ac .wrapper .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ac .nav .nav-head .nav-head-expander {
    cursor: not-allowed;
}

.ac .wrapper .content .ac-table-btn-regist {
    width: 100px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #e2e2e2;
}